<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'http://www.freeiconspng.com/uploads/facebook-transparent-logo-png-0.png' %>
  </head>

  <body>

<%= yield %>
  </body>
</html>
